<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="/scripts/script.js" defer></script>
  <title>Редактирование зала</title>
</head>
<body>
  <%- include("header.ejs", {user, needNav: false}) %>

  <main class="main">
    <section class="section edit">
      <div class="container section__container edit__container">
        <h2 class="section__title edit__title">
          Редактирование зала
        </h2>

        <form class="editing-form">
          <div class="editing-form__block">
            <h4 class="editing-form__field-title">Название</h4>
            <input class="editing-form__text-input text-input" type="text" name="name" required value="<%= sportHall.name %>">
          </div>

          <div class="editing-form__block">
            <h4 class="editing-form__field-title">Описание</h4>
            <textarea class="editing-form__text-input text-input editing-form__textarea" name="description"><%= sportHall.description || "" %></textarea>
          </div>

          <div class="editing-form__block">
            <% const weekdays = [
              ["ПН", "mo"],
              ["ВТ", "tu"],
              ["СР", "we"],
              ["ЧТ", "th"],
              ["ПТ", "fr"],
              ["СБ", "sa"],
              ["ВС", "su"]
            ]; %>

            <h4 class="editing-form__field-title">Расписание</h4>
            <% for(const weekday of weekdays) { %>
              <div class="editing-form__weekday-schedule weekday-schedule" data-weekday="<%= weekday[1] %>">
                <span class="editing-form__weekday"><%= weekday[0] %>:</span>
                <input class="editing-form__time-input time-input" type="time" name="<%= weekday[1] %>-from" value="<%= sportHall.schedule ? sportHall.schedule[weekday[1]][0] : "" %>">
                <pre> &mdash; </pre>
                <input class="editing-form__time-input time-input" type="time" name="<%= weekday[1] %>-to" value="<%= sportHall.schedule ? sportHall.schedule[weekday[1]][1] : "" %>">
              </div>
            <% } %>
          </div>

          <div class="editing-form__block">
            <h4 class="editing-form__field-title">Фото</h4>
            <label class="editing-form__img-preview img-preview">
              <input class="editing-form__img-input img-input" type="file" accept=".jpg" name="image">
              <svg class="editing-form__add-icon" width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="200" height="200" fill="#8E8E8E"/>
                <path d="M50 100H150M100 50V150" stroke="white" stroke-width="17.3913"/>
              </svg>
            </label>
          </div>

          <button class="btn editing-form__submit-btn" type="submit">Сохранить</button>
        </form>
      </div>
    </section>
  </main>
</body>
</html>