<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script src="/scripts/script.js" defer></script>
  <title><%= trainer.lastName %> <%= trainer.firstName %> <%= trainer.patronymic %></title>
</head>
<body>
  <%- include("header.ejs", {user, needNav: false}) %>
  <main class="main">
    <section class="section general">
      <div class="container general__container">
        <div class="general__text-info general__text-info_wide">
          <h2 class="section__title general__title">
            <%= trainer.lastName %> <%= trainer.firstName %> <%= trainer.patronymic %>
          </h2>
          <p class="general__description">
            <%= trainer.description %>
          </p>
          <%- include("schedule.ejs", { schedule: trainer.schedule }) %>
        </div>
        <img class="general__img general__img_slim" src="<%= trainer.imgURL %>" alt="Фото тренера">
      </div>
    </section>

    <section class="section sport-halls">
      <div class="container section__container sport-halls__container">
        <h2 class="section__title sport-halls__title">
          Залы
        </h2>
        <%- include("swiper.ejs", {
          swiperClass: "sport-halls-swiper",
          objectList: sportHallList,
          cardView: "sportHallCard.ejs"
        }) %>
      </div>
    </section>

    <section class="section programs">
      <div class="container section__container programs__container">
        <h2 class="section__title programs__title">
          Программы
        </h2>
        <%- include("swiper.ejs", {
          swiperClass: "programs-swiper",
          objectList: programList,
          cardView: "programCard.ejs"
        }) %>
      </div>
    </section>
  </main>
</body>
</html>